/* Colours used in title: #3911C9 #FCD450 #000000 */

html {
  height: 100%;
  background: linear-gradient(to bottom right, #DADADA, #FFFFFF);
  padding:0;
  width:100%;
}
*{
  box-sizing: border-box;
}
body{
  margin:0px;
}
.title {
  display: block;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 5px;
}

.navbardiv {
  text-align: center;
}

.navbar {
  list-style-type: none;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 15px 40px 15px 40px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.navbar li {
    display: inline-block;
    padding: 15px 0 15px 0;
}

.navbar li:hover,.dropdown:hover .dropbtn,.dropdownInterviews:hover .dropbtnInterviews {
  background-color: #DDDDDD;
}


.navbar li a {
  padding: 15px 20px 15px 20px;
  color: #404040;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}

/* The dropdown container */
.dropdown,.dropdownInterviews {
  float:left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn ,.dropdownInterviews .dropbtnInterviews{
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 17px;
  border: none;
  outline: none;
  color: #404040;
  padding: 15px 20px 15px 20px;
  background-color: inherit;
  margin: 0; /* Important for vertical align on mobile phones */
}
.dropdown-content,.dropdown-contentInterviews {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a,.dropdown-contentInterviews a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover, .dropdown-contentInterviews a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content,.dropdownInterviews:hover .dropdown-contentInterviews {
  display: block;
}

.flex-container{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 800px;
  padding-top: 10px;
  padding-bottom: 0;

}
.introduction h1{
  padding-left: 75px;

}
.introduction{
  border-right: 1px solid #ccc;
  float:left;
  width: 60%;
}

.resources h1{
  padding-left: 55px;

}
.resources{
  float:right;
  width: 40%;
  height: 50%;
}

.newsletter h1{
  padding-left: 75px;

}
.newsletter{
  padding-top: 0px;
  background-color: red;
  width: 100%;
  padding: 0;

}

.footer{
  position: static
  z-index: 10;
  bottom: 0;
  padding-top: 5px;
  width: 100%;
  margin: 0;
  height: 146px;
  background-color: black;
  color:white;
  text-align: center;
}
